@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

:root {
  --green: #9DAD86;
  --darkgreen: #677553;
  --red: #81382F;
  --text-color: #0D0D05;
}

html {
  font-size: 12px;
  color: var(--text-color);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Jersey 10", sans-serif;
  background-color: var(--green);
  text-align: center;
  padding: 50px 10px 0 10px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

h1 {
  font-size: 3.5rem;
}

.btn {
  text-transform: uppercase;
  background-color: var(--darkgreen);
  border: 3px solid var(--green);
  box-shadow: 0px 0px 0px 3px var(--darkgreen);
  cursor: pointer;
  color: var(--green);
  outline: none;
  transition: all .2s;
  transform: scale(1);
}

.btn:active {
  transform: scale(.95);
}

.menu-control {
  position: absolute;
  top: 25px;
  left: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.menu-control button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 45px;
  height: 45px;
  padding: 0;
}

@media (hover: hover) and (pointer: fine) {
  .menu-control button:hover {
    filter: brightness(90%);
  }
}

.menu-control button img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

#gameContainer {
  position: relative;
  padding: 10px;
  border: 3px solid var(--text-color);
}

#gameBoard {
  background-image: url("/bg.svg");
  background-size: 480px 480px;
}

#result {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 270px;
  transform: translateX(-50%) translateY(-50%);
  filter: drop-shadow(2px 2px 0px var(--green));
}

#score,
#result {
  font-size: 5.5rem;
}

.controls-btns {
  display: none;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(2, 70px);
  grid-template-columns: repeat(3, 70px);
  gap: 15px;
  margin-bottom: 35px;
}

@media (hover: none) and (pointer: coarse) {
  .controls-btns {
    display: grid;
  }
}

.controls-btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  aspect-ratio: 1;
}

.controls-btns button img {
  width: 55px;
  height: 55px;
}

.controls-btns button:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

.controls-btns button:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
}

.controls-btns button:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}

.controls-btns button:nth-child(4) {
  grid-column: 3;
  grid-row: 2;
}

#resetBtn {
  margin: 15px 0 55px 0;
  width: 150px;
  height: 50px;
  font-family: inherit;
  font-size: 2rem;
  letter-spacing: 1px;
}

@media(hover: hover) and (pointer: fine) {
  #resetBtn:hover {
    width: 175px;
  }
}

#telegram {
  text-align: center;
  display: block;
  color: inherit;
  font-size: 2rem;
  margin-top: auto;
  opacity: .5;
  padding-bottom: 20px;
}

@media(max-width: 768px) {
  body {
    padding: 13vw 2vw 0 2vw;
  }

  h1 {
    font-size: 6vw;
  }

  .btn {
    border: 0.4vw solid var(--green);
    box-shadow: 0px 0px 0px 0.4vw var(--darkgreen);
  }

  .menu-control {
    top: 3.3vw;
    left: 3.3vw;
    flex-direction: row;
    gap: 3.5vw;
  }

  .menu-control button {
    width: 8vw;
    height: 8vw;
  }

  .menu-control button img {
    width: 6.5vw;
    height: 6.5vw;
  }

  #gameContainer {
    padding: 1.4vw;
    border: 0.4vw solid var(--text-color);
  }

  #gameBoard {
    width: 62.5vw;
    height: 62.5vw;
    background-size: 62.5vw 62.5vw;
  }

  #result {
    width: 40vw;
    filter: drop-shadow(0.262vw 0.262vw 0px var(--green));
  }

  #score,
  #result {
    font-size: 10vw;
  }

  .controls-btns {
    grid-template-rows: repeat(2, 11vw);
    grid-template-columns: repeat(3, 11vw);
    gap: 2vw;
    margin-bottom: 4.6vw;
  }

  .controls-btns button {
    width: 11vw;
  }

  .controls-btns button img {
    width: 8vw;
    height: 8vw;
  }

  #resetBtn {
    margin: 2.5vw 0 6.9vw 0;
    width: 30vw;
    height: 8vw;
    font-size: 4.5vw;
  }

  @media(hover: hover) and (pointer: fine) {
    #resetBtn:hover {
      width: 35vw;
    }
  }

  #telegram {
    font-size: 4.5vw;
    padding-bottom: 2.7vw;
  }
}

@media(max-width: 450px) {
  body {
    padding: 17vw 2vw 0 2vw;
  }

  h1 {
    font-size: 7vw;
  }

  .menu-control {
    top: 4vw;
    left: 4vw;
    gap: 3.5vw;
  }

  .menu-control button {
    width: 10vw;
    height: 10vw;
  }

  .menu-control button img {
    width: 7.5vw;
    height: 7.5vw;
  }

  .controls-btns {
    grid-template-rows: repeat(2, 16vw);
    grid-template-columns: repeat(3, 16vw);
    gap: 3vw;
    margin-bottom: 4.6vw;
  }

  .controls-btns button {
    width: 16vw;
  }

  .controls-btns button img {
    width: 11vw;
    height: 11vw;
  }

  #resetBtn {
    margin: 2.5vw 0 6.9vw 0;
    width: 45vw;
    height: 11vw;
    font-size: 6vw;
  }

  @media(hover: hover) and (pointer: fine) {
    #resetBtn:hover {
      width: 50vw;
    }
  }
}